body {
    background-image: url("../images/guitar5.jpg");
      background-size: cover;
  }
  
  * {
      margin:0; padding:0;
    }

#main {
    
    margin:auto;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content {
    width:60%;
    height: 350px;
    margin:auto;
    margin-top: 500px;
    background-color: gray;
    opacity: 0.6;
    overflow: scroll;
}

#input {
    opacity: 0.5;
}



#message {
    
    opacity: 1;
}

#addData input {
    width: 400%;
}