* {
	font-family: 'Cambria', sans-serif;
	
}


.topnav {
	background-color: black;
	width: 100%;
	justify-content: center;
	display: inline-block;
    list-style-type: none;
	
	
	padding-top: 1em;
	padding-right: 5%;
	top: 0;
	padding: 2px;
	 
}

ul li {
	padding: 5px;
}

ul li a:hover {
	color: rgb(39, 38, 38);
}

#nav {
	opacity: 0.9;
}

.nav-item {
	padding-top: 4px;
	font-size: 1.5em;
	font-weight: bold;
}



a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }

.btn {
	
	margin-top: 12px;
	color: black;
}

  .logout-btn {
	margin-right: 50px;
	border-radius: 5%;
	background-color: black;
	color: grey;
	cursor: pointer;
  }