body {
  background: url("../images/guitar5.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      color: white;
}

.main {
  margin: auto;
  width: 75%;
    text-align: center;
    color: white;
  }

  .scales_chords_api {
    padding: 20px;
  }

  p {
    font-size: larger;
  }

  p a:visited {
    color: white;
  }