body {
   

      background: url("../images/guitar5.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  .main {
    text-align: center;
    
  }
  
  .centered {
    position: absolute;
    color: white;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

.email {
  margin-right: 35px;
}

.password {
  margin-right: 60px;
}